# Web Framework & Server
fastapi
uvicorn[standard]


# Database (PostgreSQL)
psycopg2-binary
sqlalchemy

# Configuration & Environment
python-dotenv
pydantic-settings

# Data Validation
pydantic

# Monitoring (Prometheus Metrics)
prometheus-fastapi-instrumentator
