# =========================
# Git
# =========================
.git
.gitignore

# =========================
# Python cache
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# Env
# =========================
.env
.env.*

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Logs / Data
# =========================
*.log
logs/
data/
datasets/

# =========================
# AI Models / Cache 
# =========================
models/
model/
weights/
checkpoints/
ckpt/
*.pt
*.pth
*.bin
*.onnx
*.engine
*.safetensors
.cache/
huggingface/
hf_cache/
wandb/

# =========================
# Docs / Tests
# =========================
tests/
docs/
README.md

# =========================
# OS
# =========================
.DS_Store
